body {
    font-family: gill-sans-nova, sans-serif;
    background-image: url(../img/7.jpg);
    font-weight: 500;
    font-size: 0.85rem;
    --color-link: #c3c9fe;
}

.screen {
	text-transform: uppercase;
}

.content__title {
    font-size: 8vw;
    font-weight: 900;   
}

.content__credits {
    color: var(--color-link);
}
