@font-face {
  font-family: "kionaregular";
  src: url("../fonts/kiona-regular-webfont.woff") format("woff2"),
    url("../fonts/kiona-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "walkway_condensedregular";
  src: url("../fonts/walkway_condensed-webfont.woff2") format("woff2"),
    url("../fonts/walkway_condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "axiforma";
  src: url("../fonts/Axiforma-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@keyframes ltr {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 95%;
  }
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.right {
  width: 100%;
  color: white;
  text-align: right;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.section:not(:nth-child(4)) {
  max-width: 1000px;
}

.center {
  font-family: "kionaregular";
}

.lower {
  opacity: 0;
  transition: all 1s;
  padding-bottom: 20vh;
}

.video-backdrop {
  background-color: black;
}

.video {
  width: 85vw;
  aspect-ratio: 16/9;
}

.landscape {
  display: none;
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .landscape {
    display: block;
  }
}

.frame {
  width: 100%;
  animation: search 10s ease-in-out alternate-reverse infinite;
}

.main-img {
  width: 20vh;
  height: 20vh;
  animation: ltr 4s;
}
.title {
  margin: 0;
  margin-top: 1rem;
  font-family: "axiforma";
  text-shadow: 0 0 0;
  font-size: 80px;
  line-height: 1;
  font-weight: normal;
}

.subtitle {
  font-family: "kionaregular";
  margin-block-start: 0;
}

.credits {
  font-size-adjust: none;
  margin-top: 0;
  font-family: "walkway_condensedregular";
  letter-spacing: 1px;
  color: black;
  padding-right: 2rem;
  padding-left: 2rem;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 100%;
}

.logos > img {
  max-height: 4vh;
  object-fit: contain;
  filter: grayscale(100%);
}

important {
  text-transform: uppercase;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

form {
  width: 100%;
  font-family: "walkway_condensedregular";
  font-size: 1.5rem;
}

.form-inner {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.top-block {
  margin-top: auto;
  margin-bottom: auto;
}

.hidden {
  visibility: hidden;
}

.top-block {
  margin-top: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

#Layer_1 {
  margin-top: 1rem;
  max-height: 40vh;
}

.before-title {
  font-family: "walkway_condensedregular";
  font-size: 1.5rem;
}

.separator {
  max-width: 30%;
}

.tip {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: black;
}

.show {
  opacity: 1;
}

label {
  display: flex;
  gap: 1ch;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
}
input[type="email"] {
  width: 100%;
}
select {
  width: 100%;
}

.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
