@font-face {
  font-family: "kionaregular";
  src: url("../fonts/kiona-regular-webfont.woff") format("woff2"),
    url("../fonts/kiona-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "walkway_condensedregular";
  src: url("../fonts/walkway_condensed-webfont.woff2") format("woff2"),
    url("../fonts/walkway_condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "axiforma";
  src: url("../fonts/Axiforma-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@keyframes ltr {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 95%;
  }
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  font-family: "kionaregular";
  font-size: 40px;
}

.lower {
  margin-top: auto;
}

@media screen and (max-width: 1000px) {
  .lower {
    margin-bottom: 12rem;
  }
}

.main-img {
  width: 20vh;
  height: 20vh;
  animation: ltr 4s;
}
.title {
  margin-block-end: 0;
  margin-block-start: 5rem;
  font-family: "axiforma";
  font-size: 16vw;
  font-weight: 900;
  line-height: 1;
}

.subtitle {
  font-family: "kionaregular";
  font-size: 2.5rem;
  margin-block-start: 0;
}

.credits {
  font-size-adjust: none;
  font-size: 40px;
  margin-top: 0;
  font-family: "walkway_condensedregular";
  letter-spacing: 1px;
  color: black;
  padding-right: 2rem;
  padding-left: 2rem;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
}

.logos > img {
  max-height: 4vh;
  object-fit: contain;
  filter: grayscale(100%);
}

important {
  text-transform: uppercase;
}
