@font-face {
  font-family: "kionaregular";
  src: url("../fonts/kiona-regular-webfont.woff") format("woff2"),
    url("../fonts/kiona-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "walkway_condensedregular";
  src: url("../fonts/walkway_condensed-webfont.woff2") format("woff2"),
    url("../fonts/walkway_condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "axiforma";
  src: url("../fonts/Axiforma-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@keyframes ltr {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 95%;
  }
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.section:not(:nth-child(4)) {
  max-width: 1000px;
}

.center {
  font-family: "kionaregular";
}

.lower {
  padding-bottom: 20vh;
}

.video-backdrop {
  background-color: black;
}

.video {
  width: 85vw;
  aspect-ratio: 16/9;
}

.landscape {
  display: none;
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .landscape {
    display: block;
  }
}

.main-img {
  width: 20vh;
  height: 20vh;
  animation: ltr 4s;
}
.title {
  margin: 0;
  margin-top: 1rem;
  font-family: "axiforma";
  text-shadow: 0 0 0;
  font-size: 80px;
  line-height: 1;
  font-weight: normal;
}

.subtitle {
  font-family: "kionaregular";
  margin-block-start: 0;
}

.credits {
  font-size-adjust: none;
  margin-top: 0;
  font-family: "walkway_condensedregular";
  letter-spacing: 1px;
  color: black;
  padding-right: 2rem;
  padding-left: 2rem;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 100%;
}

.logos > img {
  max-height: 4vh;
  object-fit: contain;
  filter: grayscale(100%);
}

important {
  text-transform: uppercase;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

form {
  font-family: "kionaregular";
}

.form-inner {
  display: flex;
  flex-direction: column;
}

.top-block {
  margin-top: auto;
  margin-bottom: auto;
}

.hidden {
  visibility: hidden;
}

.top-block {
  margin-top: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

#Layer_1 {
  margin-top: 1rem;
}

.before-title {
  font-family: "walkway_condensedregular";
  font-size: 1.5rem;
}

.separator {
  max-width: 60%;
}
